body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a7d948;
    background-image: url("imagenss/DUQUESA.png"); 
}

h3{
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 20px;
        border-radius: 10px;
        margin: 30px;
        z-index: 1;
        position: relative;
        color: #4a752c;
    
}

img{
    width: 1300px;  
    display: flex;
    justify-content: center;
    padding-left: 288px;
    padding-top: 30px;
}



.menu {
    background-color: #4a752c;
    padding: 3px 0;
}

.menu-content {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
}

.logo img {
    width: 150px; 
    height: auto; 
    padding-top: 10px;
    padding: 10px;
}


nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 50px;
}

nav ul li a:hover {
    background-color: #af4c4c;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .logo img {
        width: 50px; 
    }
    
    nav ul {
        flex-direction: column;
        align-items: center; 
    }
    
    nav ul li {
        margin: 10px 0;
    }
}
